.banner{
  margin-top: 90px;
}

.img-contain{
  height: 150px;
  width: 100%;
  object-fit: contain !important;
  background-color: #f4f4f4;
}

.img-thumbnail{
  width: 100%;
  object-fit: contain !important;
}

.no-img-fluid {
  height: 150px !important;
  object-fit: contain;
}

.image-header img{
  height: 350px;
  width: 100%;
  object-fit: cover;
  background-color:#f4f4f4;
}

.image-header .no-img {
  object-fit: contain;
}

/* ========================== single section ======================  */

.single .title {
  display: inline-block;
}

.single .title h2{
  text-transform: uppercase;
  display: inline-block;
}

.hr{
  margin-bottom: 20px;
  padding: 2px;
  margin-top: 5px;
  background-color: #1bbd36;
  width: 80%;
  border-radius: 200px;
  display: inline-block;
}

.m-90{
  margin-top: 90px;
}


/* pagination */

.pagination {
  display: flex;
  justify-content: center;
}

.pagination .page-numbers {
  padding: 5px 10px;
  margin-right: 10px;
  background-color: #1bbd36;
  color: white;
}

.page-numbers.current{
  background-color: #111;
}

.page-numbers.next,.page-numbers.prev{
  background-color: #1bbd36;
}

/* search  */
.search-form {
  display: flex;
  justify-content: end;
}

.search-form input {
  border: 2;
  padding: 10px;
  border-radius: 4px;
}

.submit-search {
  padding: 10px;
  margin-left: 10px;
  background-color: #1bbd36;
  border: 0px;
  color: white;
  border-radius: 5px;
}