

.timeline {
  position: relative;
  overflow: auto;
}
.timeline:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background: #dddddd;
  left: 0;
  border-radius: 50px;
}

.timeline h2 {
  background: #111;
  max-width: 6em;
  margin: 0 auto 1em;
  padding: 0.5em;
  text-align: center;
  position: relative;
  clear: both;
  border-radius: 10px;
  color: white;
  margin-top: 0;
  border-bottom: 4px solid #1bbd36;
  text-align: center;
  border-radius: 10px;
}
.timeline ul {
  list-style: none;
  padding: 0 0 0 1em;
  z-index: 1;
}
.timeline li {
  background: #dddddd;
  padding: 1em;
  margin-bottom: 1em;
  position: relative;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background-color: #1bbd36;
  color: white;
}
.timeline li:before {
  content: '';
  width: 0;
  height: 0;
  border-top: 1em solid #1bbd36;
  border-left: 1em solid transparent;
  position: absolute;
  left: -1em;
  top: 0;
}

.timeline li:nth-child(even) {
  border-top-right-radius: 20px;
}

.timeline li:nth-child(odd) {
  border-top-left-radius: 20px;
}


.timeline h3,.timeline h4 {
  margin-top: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
  text-align: center;
  font-size: 17px;
  border-radius: 10px;
  background: #111;
  padding-top: 10px;
}


.timeline time {
  font-style: italic;
}

span#dot {
  position: relative;
  display: block;
}

span#dot::before {
  content: "-";
  position: relative;
  margin-right: 10px;
  font-weight: bold;
  bottom: 2px;
}

@media screen and (min-width: 40em) {
  .timeline:before {
    left: 50%;
  }
  .timeline ul {
    padding-left: 0;
    max-width: 700px;
    margin: 0 auto;
  }
  .timeline li {
    width: 42%;
  }
  .timeline li:nth-child(even) {
    float: right;
    margin-top: 2em;
  }
  .timeline li:nth-child(odd) {
    float: left;
  }
  .timeline li:nth-child(odd):before {
    border-top: 1em solid #1bbd36;
    border-right: 1em solid transparent;
    right: -1em;
    left: auto;
  }
  .timeline li:nth-of-type(2n+1) {
    clear: both;
  }

  
}

@media screen and (max-width: 700px) {
  .timeline li:nth-child(odd) {
    border-top-left-radius: 0px !important;
  }
}
